In [4]:
import pandas as pd
import numpy as np
import random 
from scipy import linalg
import math

In [5]:
dataset = "C:/Users/i235jbp/Dropbox/PhD/Spørreundersøkelse/R/datasett_bus_surv_n.csv"

In [6]:
df = pd.read_csv(dataset, sep=",", engine='python')

In [7]:
# import hashlib

# def encrypt_string(hash_string):
#     sha_signature = \
#         hashlib.sha256(hash_string.encode()).hexdigest()
#     return sha_signature
# hash_string = 'confidential data'
# sha_signature = encrypt_string(hash_string)
# print(sha_signature)
# # 3fef7ff0fc1660c6bd319b3a8109fcb9f81985eabcbbf8958869ef03d605a9eb

In [8]:
# df.drop(['navn', 'orgnr_foretak', 'f_postnr', 'sn07_1'], axis=1, inplace=True)
df['orgnr'] = df['orgnr']-random.randint(1,1000)
df['employ'] = df['employ']+random.randint(1,15)
df.head()

,status,sn07_1,orgnr_foretak,orgnr,navn,employ,f_postnr,no2_1,no2_2,no2_3,...,date,month,day,qrt,_merge,mach_building,mach_build_share,machine2012,building2012,suminvest2012
0,Completed,27.510,936030327,871601454,HÂ�IAX AS,74,1618,3,-99,-99,...,18993.0,1.0,1.0,2012q1,3,1.990050,2,1448.0,562.0,2938.0
1,Completed,22.210,913019334,871601594,JACKON AS,153,1621,3,-99,-99,...,18993.0,1.0,1.0,2012q1,3,569.000000,4,3056.0,492.0,3600.0
2,Completed,10.209,959738769,871635944,MARITIM FOOD AS,71,1617,-99,-99,-99,...,18993.0,1.0,1.0,2012q1,3,75.000000,3,1425.0,350.0,1875.0
3,Completed,22.210,951654515,871661364,BACA PLASTINDUSTRI AS,51,5224,1,3,0,...,18993.0,1.0,1.0,2012q1,3,0.000000,1,2000.0,0.0,2000.0
4,No reply,24.450,911575787,871685174,XSTRATA NIKKELVERK AS,603,4613,-99,-99,-99,...,18993.0,1.0,1.0,2012q1,3,3.999784,2,128040.0,104261.0,232301.0

In [27]:
df = df[df['status']!='No reply']
df = df[df['status']!='Refusals']

In [28]:
df.isnull().describe()

,status,sn07_1,orgnr_foretak,orgnr,navn,employ,f_postnr,no2_1,no2_2,no2_3,...,date,month,day,qrt,_merge,mach_building,mach_build_share,machine2012,building2012,suminvest2012
count,373,373,373,373,373,373,373,373,373,373,...,373,373,373,373,373,373,373,373,373,373
unique,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,1,2,1,2,2,2
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,373,373,373,373,373,373,373,373,373,373,...,297,297,297,297,373,297,373,297,297,297

In [29]:
# beta1 = pd.Series([3,1])
# X = df[['cap','mach_build_share']]
# X.dot(beta1)
# # beta1.dot(X)
# # beta11 = pd.DataFrame([[3,2]])
df.columns

Index(['status', 'sn07_1', 'orgnr_foretak', 'orgnr', 'navn', 'employ',
       'f_postnr', 'no2_1', 'no2_2', 'no2_3',
       ...
       'date', 'month', 'day', 'qrt', '_merge', 'mach_building',
       'mach_build_share', 'machine2012', 'building2012', 'suminvest2012'],
      dtype='object', length=101)

In [30]:
# list of explanatory variables, important to stack the variables and estimated parametes in the same order
explantory = ['cap', 'mach_build_share', 'subsidary', 'no2_1', 'no2_2']
# make a new df
df_short = df[explantory]
# convert to np.array (use df.to_numpy() in version 0.24)
X = df_short.values

In [14]:
# estimated values (in R), threshold values are constraint to be identical and hence can be left out here ??
# beta_1 = ([0.40352], [0.159973])
# beta_2 = ([-0.192], [0.098])
# beta_3 = ([-0.448], [-0.230])

In [31]:
beta_1=([-0.0426987], [0.0206538], [0.5180223],[0.0288733], [0.0077085])

In [32]:
beta_2 = ([0.5451650],[-0.0122237],[0.6516948],[0.0378402],[0.0079853])

In [33]:
beta_3=([0.6008792],[0.0480553],[0.6599026],[0.0356588],[0.0106294])

In [34]:
beta_4 = ([0.2354685],[0.2791584],[0.8606649],[0.0349570],[0.0106561])

In [35]:
beta_5=([0.0073762],[0.1396688],[0.2388109],[0.0234056],[0.0160589])

In [36]:
beta_6 = ([-0.1457760],[0.3321088],[-0.2752730],[0.0355387],[0.0070731])

In [62]:
# Covariatene i en X matrise (n x 4) og Koeffisientene til metode 1 i beta_1 (liste (4x1 matrise))
X, beta_1

(array([[  2,   2,   0,   3, -99],
        [  2,   4,   0,   3, -99],
        [  2,   3,   1, -99, -99],
        ...,
        [  2,   1,   0,   2,   2],
        [  1,   1,   0,   1,   3],
        [  2,   1,   0, -99, -99]], dtype=int64),
 ([-0.0426987], [0.0206538], [0.5180223], [0.0288733], [0.0077085]))

In [60]:
PredY1e = X@beta_1 # multiplisere matrisene - som gir oss en liste med predikerte verdier (nx1 matrise)
PredY1e[0:9,] # 10 første orgnr og predikert verdi

array([[-0.7206114],
       [-0.6793038],
       [-3.1270119],
       [ 0.0299539],
       [ 0.5052775],
       [ 0.5884037],
       [-0.6366051],
       [ 0.6311024],
       [ 0.617277 ]])

In [66]:
SumY1e = sum(PredY1e) # tar summen av listen
print("Summen av alle elementene i listen: " + str(SumY1e))

Summen av alle elementene i listen: [-143.2812578]

In [70]:
SumY1 = math.exp(SumY1e) # anvender eksponential funksjonen på summen:
print("Summen av alle predikerte verdier for metode1: " + str(SumY1))

Summen av alle predikerte verdier for metode1: 5.939369949403628e-63

In [71]:
probY1 = SumY1/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)
print("Sannsynligheten for at en bedrift velger metode 1 er: " + str(probY1))

Sannsynligheten for at en bedrift velger metode 1 er: 4.6194376644804425e-191

In [41]:
PredY1e = X@beta_1
SumY1e = sum(PredY1e)
SumY1 = math.exp(SumY1e)

PredY2e = X@beta_2
SumY2e = sum(PredY2e)
SumY2 = math.exp(SumY2e)

PredY3e = X@beta_3
SumY3e = sum(PredY3e)
SumY3 = math.exp(SumY3e)


PredY4e = X@beta_4
SumY4e = sum(PredY4e)
SumY4 = math.exp(SumY4e)

PredY5e = X@beta_5
SumY5e = sum(PredY5e)
SumY5 = math.exp(SumY5e)

PredY6e = X@beta_6
SumY6e = sum(PredY6e)
SumY6 = math.exp(SumY6e)
print(SumY1, SumY2, SumY3, SumY4, SumY5, SumY6)

5.939369949403628e-63 7.483645222656187e+86 1.588835834881528e+124
5.939369949403628e-63 7.483645222656187e+86 1.588835834881528e+124 1.2855755241069425e+128 7.390009908882297e-32 2.5925256395287514e-07

In [42]:
# liste = ['1','2','3']
# for i in liste:
# PredY1 = X@beta_1
# SumY1 = sum(PredY1)
probY1 = SumY1/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# PredY2 = X@beta_2
# SumY2 = sum(PredY2)
probY2 = SumY2/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# PredY3= X@beta_3
# SumY3 = sum(PredY3)
probY3 = SumY3/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

probY4 = SumY4/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

probY5 = SumY5/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

probY6 = SumY6/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

In [86]:
print(probY1, probY2, probY3, probY4, probY5, probY6)
print("Sannsynligheten for at en bedrift velger metode 1 er: " + str(probY1)+ " og "+
     "sannsynligheten for at en bedrift velger metode 2 er: " + str(probY2) )

4.6194376644804425e-191 5.82052185730884e-42 0.00012357418650213767 0.9998764258134978 5.747695530803284e-160 2.0163772735814968e-135
Sannsynligheten for at en bedrift velger metode 1 er: 4.6194376644804425e-191 og sannsynligheten for at en bedrift velger metode 2 er: 5.82052185730884e-42

In [70]:
dff = pd.DataFrame([[0, 1, -2, -1], [1, 1, 1, 1]])
s = pd.Series([1, 1, 2, 1])
dff.dot(s)

0   -4
1    5
dtype: int64

In [79]:
dff

   0  1  2  3
0  0  1 -2 -1
1  1  1  1  1

In [80]:
s

0    1
1    1
2    2
3    1
dtype: int64

In [74]:
X

     cap  mach_build_share
0      2                 2
1      2                 4
2      2                 3
3      1                 1
4      3                 2
5      2                 1
6      2                 4
7      1                 4
8      2                 4
9      1                 4
10     1                 4
11     2                 4
12     1                 4
13     1                 3
14     1                 4
15     3                 2
16     2                 4
17     1                 4
18     1                 4
19     2                 1
20     2                 4
21     1                 4
22     1                 4
23     2                 3
24     1                 2
25     2                 3
26     1                 4
27     1                 4
28     3                 4
29     2                 4
..   ...               ...
714    3                 1
715    3                 2
716    3                 4
717    1                 1
718    2                 4
719    1                 1
720    1                 1
721    2                 4
722    2                 1
723    1                 4
724    3                 4
725    1                 4
726    2                 2
727    1                 4
728    1                 4
729    2                 4
730    1                 3
731    1                 1
732    2                 4
733    1                 4
734    2                 4
735    1                 4
736    2                 4
737    2                 4
738    1                 4
739    2                 1
740    2                 4
741    1                 1
742    2                 1
743    2                 2

[744 rows x 2 columns]

In [78]:
beta1

0    3
1    1
dtype: int64