In [144]:
import pandas as pd
import numpy as np
import random 
from scipy import linalg
import math

In [81]:
dataset = "C:/Users/i235jbp/Dropbox/PhD/Spørreundersøkelse/R/datasett_bus_surv_n.csv"

In [83]:
df = pd.read_csv(dataset, sep=",", engine='python')

In [ ]:
# import hashlib

# def encrypt_string(hash_string):
#     sha_signature = \
#         hashlib.sha256(hash_string.encode()).hexdigest()
#     return sha_signature
# hash_string = 'confidential data'
# sha_signature = encrypt_string(hash_string)
# print(sha_signature)
# # 3fef7ff0fc1660c6bd319b3a8109fcb9f81985eabcbbf8958869ef03d605a9eb

In [84]:
# df.drop(['navn', 'orgnr_foretak', 'f_postnr', 'sn07_1'], axis=1, inplace=True)
df['orgnr'] = df['orgnr']-random.randint(1,1000)
df['employ'] = df['employ']+random.randint(1,15)
df.head()

,status,sn07_1,orgnr_foretak,orgnr,navn,employ,f_postnr,no2_1,no2_2,no2_3,...,date,month,day,qrt,_merge,mach_building,mach_build_share,machine2012,building2012,suminvest2012
0,Completed,27.510,936030327,871601107,HÂ�IAX AS,65,1618,3,-99,-99,...,18993.0,1.0,1.0,2012q1,3,1.990050,2,1448.0,562.0,2938.0
1,Completed,22.210,913019334,871601247,JACKON AS,144,1621,3,-99,-99,...,18993.0,1.0,1.0,2012q1,3,569.000000,4,3056.0,492.0,3600.0
2,Completed,10.209,959738769,871635597,MARITIM FOOD AS,62,1617,-99,-99,-99,...,18993.0,1.0,1.0,2012q1,3,75.000000,3,1425.0,350.0,1875.0
3,Completed,22.210,951654515,871661017,BACA PLASTINDUSTRI AS,42,5224,1,3,0,...,18993.0,1.0,1.0,2012q1,3,0.000000,1,2000.0,0.0,2000.0
4,No reply,24.450,911575787,871684827,XSTRATA NIKKELVERK AS,594,4613,-99,-99,-99,...,18993.0,1.0,1.0,2012q1,3,3.999784,2,128040.0,104261.0,232301.0

In [85]:
df = df[df['status']!='No reply']
df = df[df['status']!='Refusals']

In [32]:
df.isnull().describe()

,status,sn07_1,orgnr_foretak,orgnr,navn,employ,f_postnr,no2_1,no2_2,no2_3,...,date,month,day,qrt,_merge,mach_building,mach_build_share,machine2012,building2012,suminvest2012
count,373,373,373,373,373,373,373,373,373,373,...,373,373,373,373,373,373,373,373,373,373
unique,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,1,2,1,2,2,2
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,373,373,373,373,373,373,373,373,373,373,...,297,297,297,297,373,297,373,297,297,297

In [86]:
beta1 = pd.Series([3,1])
X = df[['cap','mach_build_share']]
X.dot(beta1)
# beta1.dot(X)
# beta11 = pd.DataFrame([[3,2]])

ValueError: matrices are not aligned

In [120]:
# list of explanatory variables, important to stack the variables and estimated parametes in the same order
explantory = ['cap', 'mach_build_share']
# make a new df
df_short = df[explantory]
# convert to np.array (use df.to_numpy() in version 0.24)
X = df_short.values

In [136]:
# estimated values (in R), threshold values are constraint to be identical and hence can be left out here ??
beta_1 = ([0.40352], [0.159973])
beta_2 = ([-0.192], [0.098])
beta_3 = ([-0.448], [-0.230])

In [124]:
df_short.head()

   cap  mach_build_share
0    2                 2
1    2                 4
2    2                 3
3    1                 1
5    2                 1

In [155]:
PredY1e = X@beta_1
SumY1e = sum(PredY1e)
SumY1 = math.exp(SumY1e)

PredY2e = X@beta_2
SumYe2 = sum(PredY2e)
SumY2 = math.exp(SumY2)

PredY3e = X@beta_3
SumY3e = sum(PredY3e)
SumY3 = math.exp(SumY3e)
print(SumY1, SumY2, SumY3)

1.3948534153239841e+190 15.154262241479538 8.649459674370534e-235

In [152]:
# liste = ['1','2','3']
# for i in liste:
# PredY1 = X@beta_1
# SumY1 = sum(PredY1)
probY1 = SumY1/(SumY1 + SumY2 + SumY3)

# PredY2 = X@beta_2
# SumY2 = sum(PredY2)
probY2 = SumY2/(SumY1 + SumY2 + SumY3)

# PredY3= X@beta_3
# SumY3 = sum(PredY3)
probY3 = SumY3/(SumY1 + SumY2 + SumY3)

In [153]:
print(probY1, probY2, probY3)

1.0 7.169212112283036e-191 0.0

In [70]:
dff = pd.DataFrame([[0, 1, -2, -1], [1, 1, 1, 1]])
s = pd.Series([1, 1, 2, 1])
dff.dot(s)

0   -4
1    5
dtype: int64

In [79]:
dff

   0  1  2  3
0  0  1 -2 -1
1  1  1  1  1

In [80]:
s

0    1
1    1
2    2
3    1
dtype: int64

In [74]:
X

     cap  mach_build_share
0      2                 2
1      2                 4
2      2                 3
3      1                 1
4      3                 2
5      2                 1
6      2                 4
7      1                 4
8      2                 4
9      1                 4
10     1                 4
11     2                 4
12     1                 4
13     1                 3
14     1                 4
15     3                 2
16     2                 4
17     1                 4
18     1                 4
19     2                 1
20     2                 4
21     1                 4
22     1                 4
23     2                 3
24     1                 2
25     2                 3
26     1                 4
27     1                 4
28     3                 4
29     2                 4
..   ...               ...
714    3                 1
715    3                 2
716    3                 4
717    1                 1
718    2                 4
719    1                 1
720    1                 1
721    2                 4
722    2                 1
723    1                 4
724    3                 4
725    1                 4
726    2                 2
727    1                 4
728    1                 4
729    2                 4
730    1                 3
731    1                 1
732    2                 4
733    1                 4
734    2                 4
735    1                 4
736    2                 4
737    2                 4
738    1                 4
739    2                 1
740    2                 4
741    1                 1
742    2                 1
743    2                 2

[744 rows x 2 columns]

In [78]:
beta1

0    3
1    1
dtype: int64