In [35]:
import pandas as pd
import numpy as np
import random 
from scipy import linalg
import math

In [129]:
dataset = "C:/Users/i235jbp/Dropbox/PhD/Spørreundersøkelse/R/datasett_bus_surv_rs.csv"

In [130]:
df = pd.read_csv(dataset, sep=",", engine='python')

In [38]:
# import hashlib

# def encrypt_string(hash_string):
#     sha_signature = \
#         hashlib.sha256(hash_string.encode()).hexdigest()
#     return sha_signature
# hash_string = 'confidential data'
# sha_signature = encrypt_string(hash_string)
# print(sha_signature)
# # 3fef7ff0fc1660c6bd319b3a8109fcb9f81985eabcbbf8958869ef03d605a9eb

In [39]:
# df.drop(['navn', 'orgnr_foretak', 'f_postnr', 'sn07_1'], axis=1, inplace=True)
df['orgnr'] = df['orgnr']-random.randint(1,1000)
df['orgnr_foretak'] = df['orgnr_foretak']-random.randint(1,1000)
df['employ'] = df['employ']+random.randint(1,15)
df.drop(['navn1'], axis=1, inplace=True)
df.head()

,orgnr,orgnr_foretak,sector,bof_nace07,inves_fou,inves_fou_sale,inves_facilities,inves_facilities_sale,inves_plot,inves_plot_sale,...,no171,nnmerge,_merge,woMerge,invest_share,maint_invest,dividendratio,profitratio,mach_build,_est_no21
0,811280275,811280555,2100.0,16.232000,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,0,0.000000,-5.655974,1,1
1,812749485,812749765,2100.0,16.100000,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,1,0.000123,6.764232,1,1
2,816063535,816063815,2100.0,21.200001,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,31.53125,1,0.000121,1.205634,1,1
3,829094015,829094295,2100.0,23.610001,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,1,0.000000,-4.339672,1,1
4,832008765,832009045,2100.0,30.120001,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,0,0.000000,-29.164217,1,1

In [16]:
# df = df[df['status']!='No reply']
# df = df[df['status']!='Refusals']

In [42]:
df.isnull().describe()

,orgnr,orgnr_foretak,navn1,sector,bof_nace07,inves_fou,inves_fou_sale,inves_facilities,inves_facilities_sale,inves_plot,...,no171,nnmerge,_merge,woMerge,invest_share,maint_invest,dividendratio,profitratio,mach_build,_est_no21
count,309,309,309,309,309,309,309,309,309,309,...,309,309,309,309,309,309,309,309,309,309
unique,1,1,2,2,2,2,2,2,2,2,...,2,2,1,1,2,1,2,2,1,1
top,False,False,False,False,False,False,False,False,False,False,...,True,True,False,False,False,False,False,False,False,False
freq,309,309,286,286,286,286,286,286,286,286,...,296,292,309,309,246,309,286,286,309,309

In [71]:
# beta1 = pd.Series([3,1])
# X = df[['cap','mach_build_share']]
# X.dot(beta1)
# # beta1.dot(X)
# # beta11 = pd.DataFrame([[3,2]])
df.columns

Index(['orgnr', 'orgnr_foretak', 'navn1', 'sector', 'bof_nace07', 'inves_fou',
       'inves_fou_sale', 'inves_facilities', 'inves_facilities_sale',
       'inves_plot',
       ...
       'no171', 'nnmerge', '_merge', 'woMerge', 'invest_share', 'maint_invest',
       'dividendratio', 'profitratio', 'mach_build', '_est_no21'],
      dtype='object', length=183)

In [131]:
# list of explanatory variables, important to stack the variables and estimated parametes in the same order
explanatoryNo2 = ['smallcap' ,'largecap' ,'subsidary' ,'mach_build','debt_asset','profitratio','dividendratio']
explanatoryNo3 = ['higheduc', 'cap', 'mach_build_share', 'invest_share' ,'maint_invest']
# make a new df
df_short2 = df.copy(deep=True)
df_short3 = df.copy(deep=True)
df_short4 = df.copy(deep=True)
# df_short = df_short.drop(explantory, axis=
# convert to np.array (use df.to_numpy() in version 0.24)
df_short2.head()

,orgnr,orgnr_foretak,navn1,sector,bof_nace07,inves_fou,inves_fou_sale,inves_facilities,inves_facilities_sale,inves_plot,...,no171,nnmerge,_merge,woMerge,invest_share,maint_invest,dividendratio,profitratio,mach_build,_est_no21
0,811280852,811280852,HOVLAND TREVAREFABRI,2100.0,16.232000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,0,0.000000,-5.655974,1,1
1,812750062,812750062,Bergene Holm AS,2100.0,16.100000,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,1,0.000123,6.764232,1,1
2,816064112,816064112,SNØGG AS,2100.0,21.200001,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,31.53125,1,0.000121,1.205634,1,1
3,829094592,829094592,STRYN BETONGELEMENT,2100.0,23.610001,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,1,0.000000,-4.339672,1,1
4,832009342,832009342,SKIBSPLAST A/S,2100.0,30.120001,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,1,1,NaN,0,0.000000,-29.164217,1,1

In [132]:
df_short2=df_short2.loc[:,explanatoryNo2].dropna(axis=0, how='any')
df_short3=df_short3.loc[:,explanatoryNo3].dropna(axis=0, how='any')


# df_short.head()

In [133]:
df_short3.head()

   higheduc  cap  mach_build_share  invest_share  maint_invest
2       1.0    1                 4     31.531250             1
6       0.0    3                 1      3.279264             1
7       0.0    1                 4     37.394737             0
8       0.0    2                 1      0.000000             1
9       1.0    1                 3     18.541666             0

In [135]:
# df_short.dropna(axis=0, how='any', inplace=True)
X_2 = df_short2.values
X_3 = df_short3.values

In [123]:
# df_short.isnull

In [44]:
# estimated values (in R), threshold values are constraint to be identical and hence can be left out here ??
# beta_1 = ([0.40352], [0.159973])
# beta_2 = ([-0.192], [0.098])
# beta_3 = ([-0.448], [-0.230])

In [82]:
beta_1 = ([-0.29758951],[0.52683465],[-0.24394283],[0.34213719],[-2.0661877],[0.02265871],[286.98091])

In [94]:
beta_2 = ([-0.21543231],[-1.9764057],[-1.0254501],[-1.2875736],[-1.9819861],[-0.05033747],[-25.169312])

In [33]:
beta_3=([0.6008792],[0.0480553],[0.6599026],[0.0356588],[0.0106294])

In [34]:
beta_4 = ([0.2354685],[0.2791584],[0.8606649],[0.0349570],[0.0106561])

In [35]:
beta_5=([0.0073762],[0.1396688],[0.2388109],[0.0234056],[0.0160589])

In [36]:
beta_6 = ([-0.1457760],[0.3321088],[-0.2752730],[0.0355387],[0.0070731])

In [141]:
# Coeff for model no3
beta_1_3=([0.168],[0.347],[-0.227],[0.000947],[-0.0184])
alpha_1_3= ([-2.641]) 
beta_2_3=([0.462],[0.962],[0.0836],[0.000828], [-0.0184])
alpha_2_3 = ([-3.162])

In [84]:
# Covariatene i en X matrise (n x 4) og Koeffisientene til metode 1 i beta_1 (liste (4x1 matrise))
X, beta_1

(array([[ 1.0000000e+00,  0.0000000e+00,  0.0000000e+00, ...,
          7.4215209e-01, -5.6559744e+00,  0.0000000e+00],
        [ 0.0000000e+00,  1.0000000e+00,  0.0000000e+00, ...,
          5.6966853e-01,  6.7642322e+00,  1.2260885e-04],
        [ 1.0000000e+00,  0.0000000e+00,  0.0000000e+00, ...,
          6.2394929e-01,  1.2056341e+00,  1.2056394e-04],
        ...,
        [ 0.0000000e+00,  1.0000000e+00,  1.0000000e+00, ...,
          7.0641792e-01,  1.5044494e-01,  0.0000000e+00],
        [ 0.0000000e+00,  1.0000000e+00,  0.0000000e+00, ...,
          5.6557995e-01,  6.6258230e+00,  6.6258229e-04],
        [ 0.0000000e+00,  0.0000000e+00,  1.0000000e+00, ...,
          9.4995326e-01, -1.3587538e+01,  0.0000000e+00]]),
 ([-0.29758951],
  [0.52683465],
  [-0.24394283],
  [0.34213719],
  [-2.0661877],
  [0.02265871],
  [286.98091]))

In [105]:
PredY1e = X@beta_1 # multiplisere matrisene - som gir oss en liste med predikerte verdier (nx1 matrise)
PredY1e[0:9,] # 10 første orgnr og predikert verdi

array([[-1.61703492],
       [-0.11961509],
       [-1.18273101],
       [-1.57738518],
       [-2.3439454 ],
       [-1.33183604],
       [-1.08044192],
       [-0.38705107],
       [-1.51505319]])

In [109]:
math.exp(-0.01)

0.9900498337491681

In [116]:
SumY1e = sum(PredY1e) # tar summen av listen
print("Summen av alle elementene i listen: " + str(SumY1e))

Summen av alle elementene i listen: [-290.84707304]

In [117]:
SumY1 = math.exp(SumY1e) # anvender eksponential funksjonen på summen:
print("Summen av alle predikerte verdier for metode1: " + str(SumY1))

Summen av alle predikerte verdier for metode1: 4.860949399885961e-127

In [104]:
SumY3 = 0
SumY4 = 0
SumY5 = 0
SumY6 = 0
probY1 = SumY1/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)
print("Sannsynligheten for at en bedrift velger metode 1 er: " + str(probY1))

Sannsynligheten for at en bedrift velger metode 1 er: 1.0

In [115]:
PredY2e = X@beta_2 
SumY2e = sum(PredY2e)
SumY2 = math.exp(SumY2e)
print(SumY2e, SumY2 )

[-909.10282821] 0.0

In [121]:
print(len(PredY2e))
math.exp(SumY2e/len(PredY2e))

286

0.04164053373253825

In [98]:
PredY1e = X@beta_1
SumY1e = sum(-PredY1e)
SumY1 = math.exp(SumY1e)

PredY2e = X@beta_2
SumY2e = sum(-PredY2e)
SumY2 = math.exp(SumY2e)

# PredY3e = X@beta_3
# SumY3e = sum(PredY3e)
# SumY3 = math.exp(SumY3e)


# PredY4e = X@beta_4
# SumY4e = sum(PredY4e)
# SumY4 = math.exp(SumY4e)

# PredY5e = X@beta_5
# SumY5e = sum(PredY5e)
# SumY5 = math.exp(SumY5e)

# PredY6e = X@beta_6
# SumY6e = sum(PredY6e)
# SumY6 = math.exp(SumY6e)
# print(SumY1, SumY2, SumY3, SumY4, SumY5, SumY6)
print(SumY1, SumY2)

OverflowError: math range error

In [138]:
PredY1eNo3 = X_3@beta_1_3
SumY1eNo3 = sum(-PredY1eNo3)
SumY1No3 = math.exp(SumY1eNo3)

PredY2eNo3 = X_3@beta_2_3
SumY2eNo3 = sum(-PredY2eNo3)
SumY2No3 = math.exp(SumY2eNo3)

# PredY3e = X@beta_3
# SumY3e = sum(PredY3e)
# SumY3 = math.exp(SumY3e)


# PredY4e = X@beta_4
# SumY4e = sum(PredY4e)
# SumY4 = math.exp(SumY4e)

# PredY5e = X@beta_5
# SumY5e = sum(PredY5e)
# SumY5 = math.exp(SumY5e)

# PredY6e = X@beta_6
# SumY6e = sum(PredY6e)
# SumY6 = math.exp(SumY6e)
# print(SumY1, SumY2, SumY3, SumY4, SumY5, SumY6)
print(SumY1No3, SumY2No3)

5.0518733139400094e+107 3.505902011435972e-80

In [26]:
# liste = ['1','2','3']
# for i in liste:
# PredY1 = X@beta_1
# SumY1 = sum(PredY1)
probY1 = SumY1/(SumY1 + SumY2 )# + SumY3 + SumY4 + SumY5 + SumY6)

# PredY2 = X@beta_2
# SumY2 = sum(PredY2)
probY2 = SumY2/(SumY1 + SumY2 )# + SumY3 + SumY4 + SumY5 + SumY6)

# PredY3= X@beta_3
# SumY3 = sum(PredY3)
# probY3 = SumY3/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# probY4 = SumY4/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# probY5 = SumY5/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# probY6 = SumY6/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

In [27]:
# print(probY1, probY2, probY3, probY4, probY5, probY6)
print("Sannsynligheten for at en bedrift velger metode 1 er: " + str(probY1)+ " og "+
     "sannsynligheten for at en bedrift velger metode 2 er: " + str(probY2) )

Sannsynligheten for at en bedrift velger metode 1 er: nan og sannsynligheten for at en bedrift velger metode 2 er: nan

In [140]:
# Calculate probability for most popular hurdle rate


probY1No3 = SumY1No3/(SumY1No3 + SumY2No3 )# + SumY3 + SumY4 + SumY5 + SumY6)

probY2No3 = SumY2/(SumY1No3 + SumY2No3 )# + SumY3 + SumY4 + SumY5 + SumY6)

# PredY3= X@beta_3
# SumY3 = sum(PredY3)
# probY3 = SumY3/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# probY4 = SumY4/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# probY5 = SumY5/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# probY6 = SumY6/(SumY1 + SumY2 + SumY3 + SumY4 + SumY5 + SumY6)

# print(probY1, probY2, probY3, probY4, probY5, probY6)
print("Sannsynligheten for at en bedrift velger metode 1 er: " + str(probY1No3)+ " og "+
     "sannsynligheten for at en bedrift velger metode 2 er: " + str(probY2No3) )

Sannsynligheten for at en bedrift velger metode 1 er: 1.0 og sannsynligheten for at en bedrift velger metode 2 er: 0.0

In [70]:
dff = pd.DataFrame([[0, 1, -2, -1], [1, 1, 1, 1]])
s = pd.Series([1, 1, 2, 1])
dff.dot(s)

0   -4
1    5
dtype: int64

In [79]:
dff

   0  1  2  3
0  0  1 -2 -1
1  1  1  1  1

In [80]:
s

0    1
1    1
2    2
3    1
dtype: int64

In [74]:
X

     cap  mach_build_share
0      2                 2
1      2                 4
2      2                 3
3      1                 1
4      3                 2
5      2                 1
6      2                 4
7      1                 4
8      2                 4
9      1                 4
10     1                 4
11     2                 4
12     1                 4
13     1                 3
14     1                 4
15     3                 2
16     2                 4
17     1                 4
18     1                 4
19     2                 1
20     2                 4
21     1                 4
22     1                 4
23     2                 3
24     1                 2
25     2                 3
26     1                 4
27     1                 4
28     3                 4
29     2                 4
..   ...               ...
714    3                 1
715    3                 2
716    3                 4
717    1                 1
718    2                 4
719    1                 1
720    1                 1
721    2                 4
722    2                 1
723    1                 4
724    3                 4
725    1                 4
726    2                 2
727    1                 4
728    1                 4
729    2                 4
730    1                 3
731    1                 1
732    2                 4
733    1                 4
734    2                 4
735    1                 4
736    2                 4
737    2                 4
738    1                 4
739    2                 1
740    2                 4
741    1                 1
742    2                 1
743    2                 2

[744 rows x 2 columns]

In [78]:
beta1

0    3
1    1
dtype: int64